{{define "title"}} Home {{end}}

{{define "main"}}  
   <h2>Latest Snipet function ptr1 </h2>
   {{if .Snippets}}
      <table>
         <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
         </tr>
         {{range .Snippets}}
         <tr>
            <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created | humanDate | printf "Created: %s" }}</td>
            <td>{{.ID}}</td>
         </tr>
         {{end}}
      </table>
   {{else}}
      <p> no data </p>
   {{end}}
{{end}}
